In [2]:
# Importer pandas et numpy
import pandas as pd 
import numpy as np

In [5]:
# Lire un fichier csv
lien = "https://bit.ly/world-cities-clean"
world_csv = pd.read_csv(lien)

# Afficher les premières lignes de world_csv pour vérifier sa lecture
world_csv.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

Si le lien n'est pas bon, l'erreur "FileNotFoundError" s'affichera.

Une des solutions possibles est la suivante :

In [10]:
lienBis = "https://bit.ly/world-cities-dirty-v1"
world_cities_dirty_csv = (
        pd.read_csv(lienBis, 
        names = ["name", "country", "subcountry", "geonameid"]))
world_cities_dirty_csv.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696