In [1]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df = pd.read_csv(fp)
df.head

<bound method NDFrame.head of           Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]>

# La méthode map de Pandas

In [4]:
df['DoA'] = pd.to_datetime(df['Date of Arrest'])

In [5]:
df.dtypes

Date of Arrest            object
Age                        int64
Convicted                 object
DoA               datetime64[ns]
dtype: object

In [6]:
df.drop('Date of Arrest', axis="columns", inplace=True)

In [7]:
df

     Age Convicted                 DoA
0     77       Yes 2014-07-16 14:59:18
1     28       Yes 2002-12-19 22:17:59
2     21        No 1994-06-28 09:31:40
3     45       Yes 1985-05-14 09:52:17
4     39       Yes 1985-05-25 14:06:28
..   ...       ...                 ...
995   72       Yes 1992-02-04 14:24:25
996   68       Yes 1996-04-29 18:03:23
997   87       Yes 1980-07-15 21:59:27
998   27        No 1999-07-05 17:16:12
999   57       Yes 1996-03-17 18:29:25

[1000 rows x 3 columns]

In [8]:
df.DoA.dt.dayofweek

0      2
1      3
2      1
3      1
4      5
      ..
995    1
996    0
997    1
998    0
999    6
Name: DoA, Length: 1000, dtype: int64

In [11]:
dow2weektime = {0:'DEBUT', 1:'DEBUT', 2:'MILIEU', 3:'MILIEU', 4:'MILIEU', 5:'WEEKEND', 6:'WEEKEND'}

In [12]:
df.DoA.dt.dayofweek.map(dow2weektime)

0       MILIEU
1       MILIEU
2        DEBUT
3        DEBUT
4      WEEKEND
        ...
995      DEBUT
996      DEBUT
997      DEBUT
998      DEBUT
999    WEEKEND
Name: DoA, Length: 1000, dtype: object

In [13]:
id2str = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

In [14]:
id2str.index('MONDAY')

0

In [30]:
## Dictionnaire
str2id = {value:idx for idx, value in enumerate(id2str)}
id2str = {idx:value for idx, value in enumerate(id2str)}

In [31]:
str2id[id2str[0]]

0

In [19]:
jour = str2id
jour['MONDAY']

0

In [29]:
import pickle

chemin_disque = 'dictionnaire.pkl'

#en écriture
with open(chemin_disque, 'wb') as f:
    #print(f)
    pickle.dump(id2str, f)
    
#en lecture
with open(chemin_disque, 'rb') as f:
    objet = pickle.load(f)

In [32]:
df['DoA'].dt.dayofweek.map(id2str)

0      WEDNESDAY
1       THURSDAY
2        TUESDAY
3        TUESDAY
4       SATURDAY
         ...
995      TUESDAY
996       MONDAY
997      TUESDAY
998       MONDAY
999       SUNDAY
Name: DoA, Length: 1000, dtype: object

In [33]:
periodeSemaine = {
    'MONDAY':'DEBUT', 
    'TUESDAY':'DEBUT', 
    'WEDNESDAY':'MILIEU',
    'THURSDAY':'MILIEU',
    'FRIDAY':'MILIEU',
    'SATURDAY':'WEEKEND',
    'SUNDAY':'WEEKEND'
}

In [34]:
df['DoA'].dt.dayofweek.map(id2str).map(periodeSemaine)

0       MILIEU
1       MILIEU
2        DEBUT
3        DEBUT
4      WEEKEND
        ...
995      DEBUT
996      DEBUT
997      DEBUT
998      DEBUT
999    WEEKEND
Name: DoA, Length: 1000, dtype: object

In [35]:
df.dtypes

Age                   int64
Convicted            object
DoA          datetime64[ns]
dtype: object

# Convertir la colonne en type catégorie

In [39]:
df['Periode Semaine'] = df['DoA'].dt.dayofweek.map(id2str).map(periodeSemaine)

In [44]:
ordre = ['DEBUT', 'MILIEU', 'WEEKEND']
df['Periode Semaine'] = (df['Periode Semaine'].astype('category').
                         cat.reorder_categories(ordre).cat.as_ordered())

In [48]:
df['Periode Semaine'].cat.codes

0      1
1      1
2      0
3      0
4      2
      ..
995    0
996    0
997    0
998    0
999    2
Length: 1000, dtype: int8

In [49]:
df['Periode Semaine'].cat.categories

Index(['DEBUT', 'MILIEU', 'WEEKEND'], dtype='object')

# Convertir colonne "category" en "int" [ORDINAL]

In [50]:
df['Periode Semaine'] = df['Periode Semaine'].cat.codes

# Gérer les cycles

In [52]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df2 = pd.read_csv(fp)
df2.head

<bound method NDFrame.head of           Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]>

In [76]:
df2.rename(columns={'Date of Arrest':'DoA'}, inplace=True)
df2['DoA'] = pd.to_datetime(df2['DoA'])
df2.dtypes

DoA          datetime64[ns]
Age                   int64
Convicted            object
dtype: object

In [78]:
df2['DoA'].dt.day.max()
df2['DoA'].dt.month.max()
colonne_temporaire = df2['DoA'].dt.month * 100 + df['DoA'].dt.day

In [66]:
AVANT_JANVIER = 0
AVANT_PRINTEMPS = 320
AVANT_ETE = 620
AVANT_AUTONME = 920 
AVANT_HIVER = 1221
FIN_ANNEE = 1232

bins = [AVANT_JANVIER,
       AVANT_PRINTEMPS,
       AVANT_ETE,
       AVANT_AUTONME,
       AVANT_HIVER, 
       FIN_ANNEE]

In [80]:
'''
saisons = pd.cut(colonne_temporaire,
                  bins = bins,
                  labels=['HIVER', 'PRINTEMPS', 'ETE', 'AUTONME', 'HIVER2'])
saisons.head()

saisons = (saisons.astype('category')
            .cat.as_ordered()
            .cat.reorder_categories(['AUTONME', 'HIVER', 'PRINTEMPS', 'ETE']))
            '''

"\nsaisons = pd.cut(colonne_temporaire,\n                  bins = bins,\n                  labels=['HIVER', 'PRINTEMPS', 'ETE', 'AUTONME', 'HIVER2'])\nsaisons.head()\n\nsaisons = (saisons.astype('category')\n            .cat.as_ordered()\n            .cat.reorder_categories(['AUTONME', 'HIVER', 'PRINTEMPS', 'ETE']))\n            "

In [69]:
#saisons.str.replace('2', '')
#saisons.unique()

In [73]:
'''
ordre = ['HIVER', 'PRINTEMPS', 'ETE', 'AUTOMNE']

saisons = pd.cut(colonne_temporaire,
                  bins = bins,
                  labels=['HIVER', 'PRINTEMPS', 'ETE', 'AUTONME', 'HIVER2'])
saisons.head()
'''

"\nordre = ['HIVER', 'PRINTEMPS', 'ETE', 'AUTOMNE']\n\nsaisons = pd.cut(colonne_temporaire,\n                  bins = bins,\n                  labels=['HIVER', 'PRINTEMPS', 'ETE', 'AUTONME', 'HIVER2'])\nsaisons.head()\n"

#### Heures

In [86]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df3 = pd.read_csv(fp)
df3.head

<bound method NDFrame.head of           Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]>

In [90]:
df3['Date of Arrest'] = pd.to_datetime(df3['Date of Arrest'])

In [95]:
colonne_temporaire = df3['Date of Arrest'].dt.hour * 100 + df3['Date of Arrest'].dt.minute

In [96]:
FIN_JOURNEE = 2400
AVANT_NUIT = 2212
AVANT_AM = 1613     
AVANT_MATIN = 325
DEBUT_JOURNEE = 0

bins = [DEBUT_JOURNEE,
        AVANT_MATIN,
        AVANT_AM,
        AVANT_NUIT,
        FIN_JOURNEE]

heures = pd.cut(colonne_temporaire,
                  bins = bins,
                  labels=['NUIT', 'MATIN', 'AM', 'NUIT2'])

In [97]:
heures.head()

0    MATIN
1    NUIT2
2    MATIN
3    MATIN
4    MATIN
Name: Date of Arrest, dtype: category
Categories (4, object): ['NUIT' < 'MATIN' < 'AM' < 'NUIT2']

In [98]:
heures.str.replace('2', '')

0      MATIN
1       NUIT
2      MATIN
3      MATIN
4      MATIN
       ...
995    MATIN
996       AM
997       AM
998       AM
999       AM
Name: Date of Arrest, Length: 1000, dtype: object

In [99]:
heures = heures.str.replace('2', '')

In [100]:
heures = (heures.astype('category').
            cat.as_ordered().
            cat.reorder_categories(['MATIN', 'AM', 'NUIT']))

In [101]:
heures

0      MATIN
1       NUIT
2      MATIN
3      MATIN
4      MATIN
       ...
995    MATIN
996       AM
997       AM
998       AM
999       AM
Name: Date of Arrest, Length: 1000, dtype: category
Categories (3, object): ['MATIN' < 'AM' < 'NUIT']

In [102]:
df3['Moment de la journee'] = heures

In [104]:
df3.head()

       Date of Arrest  Age Convicted Moment de la journee
0 2014-07-16 14:59:18   77       Yes                MATIN
1 2002-12-19 22:17:59   28       Yes                 NUIT
2 1994-06-28 09:31:40   21        No                MATIN
3 1985-05-14 09:52:17   45       Yes                MATIN
4 1985-05-25 14:06:28   39       Yes                MATIN

In [110]:
df.isna()

       Age  Convicted    DoA  Periode Semaine
0    False      False  False            False
1    False      False  False            False
2    False      False  False            False
3    False      False  False            False
4    False      False  False            False
..     ...        ...    ...              ...
995  False      False  False            False
996  False      False  False            False
997  False      False  False            False
998  False      False  False            False
999  False      False  False            False

[1000 rows x 4 columns]

In [113]:
donnees = pd.read_csv("https://bit.ly/vintage-auctions")

In [114]:
donnees

,tx id,time,auction,color,shirt size,condition
0,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used
...,...,...,...,...,...,...
995,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,Violet,2XL,NaN
996,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,Purple,S,Used
997,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,Yellow,XS,used
998,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,Yellow,L,Used
999,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,Indigo,XL,used

In [115]:
donnees.insert(0, "color_missing2", donnees['color'].isna())

In [117]:
donnees

,color_missing2,tx id,time,auction,color,shirt size,condition
0,False,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,Puce,S,used
1,False,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,Aquamarine,L,never worn
2,False,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,Violet,L,used
3,False,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,Goldenrod,XS,NaN
4,True,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,NaN,2XL,used
...,...,...,...,...,...,...,...
995,False,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,Violet,2XL,NaN
996,False,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,Purple,S,Used
997,False,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,Yellow,XS,used
998,False,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,Yellow,L,Used
999,False,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,Indigo,XL,used

In [119]:
# ici n'icluer que le nom des colonnes NUMERIQUES/ORDINAL
'''
for nomCol in ['color', 'rating']:
    indexCol = donnees.columns.get_loc(nomCol)
    donnees.insert(indexCol + 1, 
                   nomCol + '_nan',
                   donnees[nomCol].isna().astype('int8'))
'''

"\nfor nomCol in ['color', 'rating']:\n    indexCol = donnees.columns.get_loc(nomCol)\n    donnees.insert(indexCol + 1, \n                   nomCol + '_nan',\n                   donnees[nomCol].isna().astype('int8'))\n"

In [121]:
donnees.duplicated(keep="last")

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [122]:
import numpy as np

In [123]:
X = np.array([1, 2, 3, 4, 5])

In [124]:
pair = X % 2 == 0

In [125]:
pair

array([False,  True, False,  True, False])

In [126]:
X[pair]

array([2, 4])

In [127]:
donnees['color'].fillna('ABSOLUMENT CE QUE JE VEUX')

0                           Puce
1                     Aquamarine
2                         Violet
3                      Goldenrod
4      ABSOLUMENT CE QUE JE VEUX
                 ...
995                       Violet
996                       Purple
997                       Yellow
998                       Yellow
999                       Indigo
Name: color, Length: 1000, dtype: object

In [128]:
donnees['color'].isna().sum()

23

In [131]:
#donnees['rating'].mean()

In [132]:
donnees['color'].value_counts()

Yellow        75
Maroon        59
Violet        57
Khaki         56
Fuscia        55
Aquamarine    55
Turquoise     54
Goldenrod     51
Blue          51
Green         51
Pink          51
Mauv          50
Crimson       50
Red           49
Indigo        49
Orange        49
Purple        45
Teal          37
Puce          33
Name: color, dtype: int64

In [134]:
donnees['color'].mode()

0    Yellow
dtype: object

In [138]:
pd.get_dummies(donnees, 
               dummy_na = True,
               columns = ['color'])

,color_missing2,tx id,time,auction,color_nan,shirt size,condition,color_Aquamarine,color_Blue,color_Crimson,...,color_Orange,color_Pink,color_Puce,color_Purple,color_Red,color_Teal,color_Turquoise,color_Violet,color_Yellow,color_nan
0,False,8dbf3cfa48b25f32e300f279bb4163c67d5c60cd,3:36 PM,$17.18,0,S,used,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,False,8ccebfdb1a41830bdcc0e926531f3215986b3a90,9:03 AM,$15.19,0,L,never worn,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,False,ae85a421a91cec8baf16ff1e45fb3e239130b584,7:42 PM,$7.58,0,L,used,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,False,85e44f09a04a79182befcfd55e288a855f633e81,10:28 PM,$9.10,0,XS,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,True,ff750bfca4910cfa7f538fbe5463457839021680,6:38 AM,$8.22,1,2XL,used,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,6fa16b110f53367cf15e6e1dcffdcb4c2653f1ab,9:56 AM,$5.79,0,2XL,NaN,0,0,0,...,0,0,0,0,0,0,0,1,0,0
996,False,2b7b6cbc2224502c7137262575e97a450b336fc2,11:31 AM,$14.07,0,S,Used,0,0,0,...,0,0,0,1,0,0,0,0,0,0
997,False,7f2a5141de8a7f752f8f98722393ffa3b0fb1e7a,6:25 AM,$17.63,0,XS,used,0,0,0,...,0,0,0,0,0,0,0,0,1,0
998,False,c4549687dee4d3061fd3c82433367bea083d4d05,2:22 AM,$17.00,0,L,Used,0,0,0,...,0,0,0,0,0,0,0,0,1,0
999,False,abf227d09fe37b3e333b419e0854c6c2fd1caa50,7:47 PM,$17.05,0,XL,used,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [139]:
donnees.to_csv('fichier.csv', index = None)

In [141]:
'''
Dataset 1 : (généré pour le cours)
https://bit.ly/vintage-auctions
##########################
Dataset 2 : (dataset réel)
https://bit.ly/diamonds-data
https://www.kaggle.com/shivam2503/diamonds 
##########################
Dataset 3: (dataset réel)
https://bit.ly/titanic-train
https://www.kaggle.com/c/titanic/data 
'''

'\nDataset 1 : (généré pour le cours)\nhttps://bit.ly/vintage-auctions\n##########################\nDataset 2 : (dataset réel)\nhttps://bit.ly/diamonds-data\nhttps://www.kaggle.com/shivam2503/diamonds \n##########################\nDataset 3: (dataset réel)\nhttps://bit.ly/titanic-train\nhttps://www.kaggle.com/c/titanic/data \n'

## Titanic

In [143]:
import pandas as pd
fp = 'https://bit.ly/titanic-train'
df_titanic = pd.read_csv(fp)
df_titanic.head

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>