In [1]:
#### FIRST IMPORTS ####
import matplotlib
import matplotlib.pyplot
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()

In [2]:
#### SKLEARN ####
#!pip install -U scikit-learn
import sklearn 
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [13]:
#### READING DATASET ####
terr_df = pd.read_csv("globalterrorismdb_shorter.csv", encoding='latin-1')
#### RESOLVING ERROR ####
# encoding = 'latin-1' is useful to fix the issue we get when we import the dataset
# The error was : "'utf-8' codec can't decode byte 0xe1 in position 5: invalid continuation byte"
#### CONCERNED DATASET #### 
# https://www.kaggle.com/northon/globalterrorismdatabase-compact

In [14]:
terr_df.dtypes

eventid               int64
iyear                 int64
imonth                int64
iday                  int64
extended              int64
country               int64
country_txt          object
region                int64
region_txt           object
provstate            object
city                 object
latitude            float64
longitude           float64
specificity         float64
vicinity              int64
location             object
summary              object
crit1                 int64
crit2                 int64
crit3                 int64
doubtterr             int64
alternative         float64
alternative_txt      object
multiple              int64
success               int64
suicide               int64
attacktype1           int64
attacktype1_txt      object
targtype1             int64
targtype1_txt        object
targsubtype1        float64
targsubtype1_txt     object
corp1                object
target1              object
natlty1             float64
natlty1_txt          object
gname                object
motive               object
guncertain1         float64
individual            int64
nperps              float64
nperpcap            float64
claimed             float64
compclaim           float64
weaptype1             int64
weaptype1_txt        object
weapsubtype1        float64
weapsubtype1_txt     object
nkill               float64
nkillter            float64
nwound              float64
nwoundte            float64
property              int64
propextent          float64
propextent_txt       object
ishostkid           float64
nhostkid            float64
dbsource             object
dtype: object

In [16]:
terr_df.head()

,eventid,iyear,imonth,iday,extended,country,country_txt,region,region_txt,provstate,...,nkill,nkillter,nwound,nwoundte,property,propextent,propextent_txt,ishostkid,nhostkid,dbsource
0,197000000001,1970,7,2,0,58,Dominican Republic,2,Central America & Caribbean,NaN,...,1.0,NaN,0.0,NaN,0,NaN,NaN,0.0,NaN,PGIS
1,197000000002,1970,0,0,0,130,Mexico,1,North America,NaN,...,0.0,NaN,0.0,NaN,0,NaN,NaN,1.0,1.0,PGIS
2,197001000001,1970,1,0,0,160,Philippines,5,Southeast Asia,Tarlac,...,1.0,NaN,0.0,NaN,0,NaN,NaN,0.0,NaN,PGIS
3,197001000002,1970,1,0,0,78,Greece,8,Western Europe,Attica,...,NaN,NaN,NaN,NaN,1,NaN,NaN,0.0,NaN,PGIS
4,197001000003,1970,1,0,0,101,Japan,4,East Asia,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,0.0,NaN,PGIS