In [1]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df = pd.read_csv(fp)
df.head

<bound method NDFrame.head of           Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]>

# La méthode map de Pandas

In [4]:
df['DoA'] = pd.to_datetime(df['Date of Arrest'])

In [5]:
df.dtypes

Date of Arrest            object
Age                        int64
Convicted                 object
DoA               datetime64[ns]
dtype: object

In [6]:
df.drop('Date of Arrest', axis="columns", inplace=True)

In [7]:
df

     Age Convicted                 DoA
0     77       Yes 2014-07-16 14:59:18
1     28       Yes 2002-12-19 22:17:59
2     21        No 1994-06-28 09:31:40
3     45       Yes 1985-05-14 09:52:17
4     39       Yes 1985-05-25 14:06:28
..   ...       ...                 ...
995   72       Yes 1992-02-04 14:24:25
996   68       Yes 1996-04-29 18:03:23
997   87       Yes 1980-07-15 21:59:27
998   27        No 1999-07-05 17:16:12
999   57       Yes 1996-03-17 18:29:25

[1000 rows x 3 columns]

In [8]:
df.DoA.dt.dayofweek

0      2
1      3
2      1
3      1
4      5
      ..
995    1
996    0
997    1
998    0
999    6
Name: DoA, Length: 1000, dtype: int64

In [11]:
dow2weektime = {0:'DEBUT', 1:'DEBUT', 2:'MILIEU', 3:'MILIEU', 4:'MILIEU', 5:'WEEKEND', 6:'WEEKEND'}

In [12]:
df.DoA.dt.dayofweek.map(dow2weektime)

0       MILIEU
1       MILIEU
2        DEBUT
3        DEBUT
4      WEEKEND
        ...
995      DEBUT
996      DEBUT
997      DEBUT
998      DEBUT
999    WEEKEND
Name: DoA, Length: 1000, dtype: object

In [13]:
id2str = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

In [14]:
id2str.index('MONDAY')

0

In [30]:
## Dictionnaire
str2id = {value:idx for idx, value in enumerate(id2str)}
id2str = {idx:value for idx, value in enumerate(id2str)}

In [31]:
str2id[id2str[0]]

0

In [19]:
jour = str2id
jour['MONDAY']

0

In [29]:
import pickle

chemin_disque = 'dictionnaire.pkl'

#en écriture
with open(chemin_disque, 'wb') as f:
    #print(f)
    pickle.dump(id2str, f)
    
#en lecture
with open(chemin_disque, 'rb') as f:
    objet = pickle.load(f)

In [32]:
df['DoA'].dt.dayofweek.map(id2str)

0      WEDNESDAY
1       THURSDAY
2        TUESDAY
3        TUESDAY
4       SATURDAY
         ...
995      TUESDAY
996       MONDAY
997      TUESDAY
998       MONDAY
999       SUNDAY
Name: DoA, Length: 1000, dtype: object

In [33]:
periodeSemaine = {
    'MONDAY':'DEBUT', 
    'TUESDAY':'DEBUT', 
    'WEDNESDAY':'MILIEU',
    'THURSDAY':'MILIEU',
    'FRIDAY':'MILIEU',
    'SATURDAY':'WEEKEND',
    'SUNDAY':'WEEKEND'
}

In [34]:
df['DoA'].dt.dayofweek.map(id2str).map(periodeSemaine)

0       MILIEU
1       MILIEU
2        DEBUT
3        DEBUT
4      WEEKEND
        ...
995      DEBUT
996      DEBUT
997      DEBUT
998      DEBUT
999    WEEKEND
Name: DoA, Length: 1000, dtype: object

In [35]:
df.dtypes

Age                   int64
Convicted            object
DoA          datetime64[ns]
dtype: object

# Convertir la colonne en type catégorie

In [39]:
df['Periode Semaine'] = df['DoA'].dt.dayofweek.map(id2str).map(periodeSemaine)

In [44]:
ordre = ['DEBUT', 'MILIEU', 'WEEKEND']
df['Periode Semaine'] = (df['Periode Semaine'].astype('category').
                         cat.reorder_categories(ordre).cat.as_ordered())

In [48]:
df['Periode Semaine'].cat.codes

0      1
1      1
2      0
3      0
4      2
      ..
995    0
996    0
997    0
998    0
999    2
Length: 1000, dtype: int8

In [49]:
df['Periode Semaine'].cat.categories

Index(['DEBUT', 'MILIEU', 'WEEKEND'], dtype='object')

# Convertir colonne "category" en "int" [ORDINAL]

In [50]:
df['Periode Semaine'] = df['Periode Semaine'].cat.codes

# Gérer les cycles

In [52]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df2 = pd.read_csv(fp)
df2.head

<bound method NDFrame.head of           Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]>

In [76]:
df2.rename(columns={'Date of Arrest':'DoA'}, inplace=True)
df2['DoA'] = pd.to_datetime(df2['DoA'])
df2.dtypes

DoA          datetime64[ns]
Age                   int64
Convicted            object
dtype: object

In [78]:
df2['DoA'].dt.day.max()
df2['DoA'].dt.month.max()
colonne_temporaire = df2['DoA'].dt.month * 100 + df['DoA'].dt.day

In [66]:
AVANT_JANVIER = 0
AVANT_PRINTEMPS = 320
AVANT_ETE = 620
AVANT_AUTONME = 920 
AVANT_HIVER = 1221
FIN_ANNEE = 1232

bins = [AVANT_JANVIER,
       AVANT_PRINTEMPS,
       AVANT_ETE,
       AVANT_AUTONME,
       AVANT_HIVER, 
       FIN_ANNEE]

In [80]:
'''
saisons = pd.cut(colonne_temporaire,
                  bins = bins,
                  labels=['HIVER', 'PRINTEMPS', 'ETE', 'AUTONME', 'HIVER2'])
saisons.head()

saisons = (saisons.astype('category')
            .cat.as_ordered()
            .cat.reorder_categories(['AUTONME', 'HIVER', 'PRINTEMPS', 'ETE']))
            '''

"\nsaisons = pd.cut(colonne_temporaire,\n                  bins = bins,\n                  labels=['HIVER', 'PRINTEMPS', 'ETE', 'AUTONME', 'HIVER2'])\nsaisons.head()\n\nsaisons = (saisons.astype('category')\n            .cat.as_ordered()\n            .cat.reorder_categories(['AUTONME', 'HIVER', 'PRINTEMPS', 'ETE']))\n            "

In [69]:
#saisons.str.replace('2', '')
#saisons.unique()

In [73]:
'''
ordre = ['HIVER', 'PRINTEMPS', 'ETE', 'AUTOMNE']

saisons = pd.cut(colonne_temporaire,
                  bins = bins,
                  labels=['HIVER', 'PRINTEMPS', 'ETE', 'AUTONME', 'HIVER2'])
saisons.head()
'''

"\nordre = ['HIVER', 'PRINTEMPS', 'ETE', 'AUTOMNE']\n\nsaisons = pd.cut(colonne_temporaire,\n                  bins = bins,\n                  labels=['HIVER', 'PRINTEMPS', 'ETE', 'AUTONME', 'HIVER2'])\nsaisons.head()\n"

#### Heures

In [86]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'
df3 = pd.read_csv(fp)
df3.head

<bound method NDFrame.head of           Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]>

In [90]:
df3['Date of Arrest'] = pd.to_datetime(df3['Date of Arrest'])

In [95]:
colonne_temporaire = df3['Date of Arrest'].dt.hour * 100 + df3['Date of Arrest'].dt.minute

In [96]:
FIN_JOURNEE = 2400
AVANT_NUIT = 2212
AVANT_AM = 1613     
AVANT_MATIN = 325
DEBUT_JOURNEE = 0

bins = [DEBUT_JOURNEE,
        AVANT_MATIN,
        AVANT_AM,
        AVANT_NUIT,
        FIN_JOURNEE]

heures = pd.cut(colonne_temporaire,
                  bins = bins,
                  labels=['NUIT', 'MATIN', 'AM', 'NUIT2'])

In [97]:
heures.head()

0    MATIN
1    NUIT2
2    MATIN
3    MATIN
4    MATIN
Name: Date of Arrest, dtype: category
Categories (4, object): ['NUIT' < 'MATIN' < 'AM' < 'NUIT2']

In [98]:
heures.str.replace('2', '')

0      MATIN
1       NUIT
2      MATIN
3      MATIN
4      MATIN
       ...
995    MATIN
996       AM
997       AM
998       AM
999       AM
Name: Date of Arrest, Length: 1000, dtype: object

In [99]:
heures = heures.str.replace('2', '')

In [100]:
heures = (heures.astype('category').
            cat.as_ordered().
            cat.reorder_categories(['MATIN', 'AM', 'NUIT']))

In [101]:
heures

0      MATIN
1       NUIT
2      MATIN
3      MATIN
4      MATIN
       ...
995    MATIN
996       AM
997       AM
998       AM
999       AM
Name: Date of Arrest, Length: 1000, dtype: category
Categories (3, object): ['MATIN' < 'AM' < 'NUIT']

In [102]:
df3['Moment de la journee'] = heures

In [104]:
df3.head()

       Date of Arrest  Age Convicted Moment de la journee
0 2014-07-16 14:59:18   77       Yes                MATIN
1 2002-12-19 22:17:59   28       Yes                 NUIT
2 1994-06-28 09:31:40   21        No                MATIN
3 1985-05-14 09:52:17   45       Yes                MATIN
4 1985-05-25 14:06:28   39       Yes                MATIN

In [108]:
import sklearn

ModuleNotFoundError: No module named 'sklearn'