In [1]:
import pandas as pd

df3 = pd.read_csv("https://bit.ly/felonies-dataset")

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [2]:
df3.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [3]:
df3.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [5]:
df3['Age'].describe()

count    1000.000000
mean       54.605000
std        25.225172
min        10.000000
25%        33.000000
50%        53.000000
75%        76.000000
max        99.000000
Name: Age, dtype: float64

In [12]:
o = pd.cut(df3['Age'], 
           bins = [10, 14, 20, 65, 100],
           labels = ['Child', 'Ado', 'Adulte', 'Senior'])

In [13]:
o.isna().sum()

13

In [15]:
prefix = ["ten", "twen", "thir", "four", "fif", "six", "seven", "eigh", "nine"]

labels = [p+'ties' for p in prefix]

labels

['tenties',
 'twenties',
 'thirties',
 'fourties',
 'fifties',
 'sixties',
 'seventies',
 'eighties',
 'nineties']

In [16]:
bins = list(range(9, 99+1, 10))

In [18]:
#df3['Decade'] = pd.cut(df3['Age'], 
#           bins = [10, 14, 20, 65, 100],
#           labels = ['Child', 'Ado', 'Adulte', 'Senior'],
#           decades = bins)